[submodule "lib/pipeline"]
	path = BigDataLabWorker/lib/pipeline
	url = https://github.com/Tagtoo/pipeline
[submodule "lib/mapreduce"]
	path = BigDataLabWorker/lib/mapreduce
	url = https://github.com/Tagtoo/mapreduce.git
[submodule "lib/mimic"]
	path = BigDataLabWorker/lib/mimic
	url = https://code.google.com/p/cloud-playground.mimic/
[submodule "lib/google-api-python-client"]
	path = BigDataLabWorker/lib/google-api-python-client
	url = https://github.com/google/google-api-python-client.git
[submodule "lib/httplib2"]
	path = BigDataLabWorker/lib/httplib2
	url = https://github.com/jcgregorio/httplib2.git
[submodule "lib/handlers"]
	path = BigDataLabWorker/lib/handlers
	url = https://github.com/Tagtoo/handlers.git
